::-webkit-scrollbar {
  background-color: #fff;
  /* stylelint-disable-next-line plugin/8-point-grid */
  height: 6px;
  /* stylelint-disable-next-line plugin/8-point-grid */
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #595959;
  border-radius: 16px;
}

::-webkit-scrollbar-corner {
  background-color: #fff;
}

body {
  background-color: #f2f3f5;
}

body > div {
  height: 100%;
}

body, input, textarea, button {
  font: 400 1rem 'Roboto', sans-serif;
}

@media (max-width: 1880px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
